[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=3"
django-debug-toolbar = "*"
pylint = "*"
m2r = "*"
pillow = "*"
psycopg2 = "*"
django-pwa = "*"
python-lorem = "*"
names = "*"
django-analytical = "*"
daphne = "*"
channels-redis = "*"
redis = "*"
django-db-logger = "*"
prospector = "*"
python-decouple = "*"
social-auth-app-django = "*"
django-user-messages = "*"

[dev-packages]
coverage = "*"
coveralls = "*"
pylint-django = "*"

[packages.snakelib]
git = "https://github.com/snake-soft/snakelib.git"
