{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block help %}
  {% include 'user/inc/help.html' %}
{% endblock %}

{% block title %}{% trans 'sign in'|title %}{% endblock %}


{% block content %}
  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.errors }}
    </div>
  {% endif %}
  <div class="row mb-5 mt-3">
    <div class="col-12 d-flex justify-content-center" style="font-size:xx-large;">Willkommen bei</div>
  </div>
  {% include 'solo/about.html' %}
{% endblock %}
